{% extends "base.html" %}

{% block header %}
  <!-- Custom Rocket Header -->
  <header class="custom-rocket-header">
    <div class="header-inner">
      <a href="https://rocketeducationrewards.com/" class="logo-link">
        <img src="/assets/logo.png" alt="Rocket Education Rewards Logo" height="40" />
      </a>
      <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/rewards/">Rewards</a>
        <a href="/contact/">Contact</a>
      </nav>
    </div>
  </header>
  {{ super() }}
{% endblock %}

{% block footer %}
  {{ super() }}
  <!-- Custom Rocket Footer -->
  <footer class="custom-rocket-footer">
    <div class="footer-inner">
      <p>&copy; {{ config.site_name }} {{ now().year }}. All rights reserved.</p>
      <div class="footer-links">
        <a href="https://twitter.com/rocketedu" target="_blank">Twitter</a> |
        <a href="https://facebook.com/rocketedu" target="_blank">Facebook</a> |
        <a href="mailto:info@rocketeducationrewards.com">Contact</a>
      </div>
    </div>
  </footer>
{% endblock %}
